* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 0.3);
}

article img {
    width: 100%;
}

article div {
    padding: 0 20px 20px 20px;
}

article div>button {
    background-color: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

@media(min-width: 768px) {
    article:nth-child(1) {
        flex: 1 0 20%;
    }

    article:nth-child(2) {
        flex: 2 0 30%;
    }

    article:nth-child(3) {
        flex: 3 0 30%;
    }

    article:nth-child(4) {
        flex: 2 0 20%;
    }

    article:nth-child(5) {
        flex: 1 0 20%;
    }

    article:nth-child(6) {
        flex: 1 0 30%;
    }
}