body {
    background-color: #FFC;
    color: #006;
    font-family: Verdana, sans-serif;
}

h2 {
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid #006;
}

table {
    margin: auto;
    border: 3px double #006;
    border-collapse: collapse;
}

td,
th {
    padding: 3px;
    border: 1px solid #006;
}

tr:nth-child(even) {
    background-color: #006;
    color: #FFC;
}

th {
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
}

.ctrcol {
    text-align: center;
}