body {
  margin: 0;
  background-color: rgb(37, 59, 105);
  display: flex;
  flex-direction: column; /* Stack flex items vertically */
  align-items: center; /* Align items in the center (horizontally) */
  font-family: "Courier New", Courier, monospace;
  color: #fff; /* Default text color */
}

header {
  width: 100%; /* Make the header full width */
  background-color: #333;
  color: #fff;
  text-align: center;
  font-weight: bold;
  z-index: 1;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow */
}

a {
  color: #00b7ff;
}

/* Game Canvas Styling */
#canvas {
  border: 2px solid #fff; /* Adds a white border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow */
  margin-top: 25px;
  z-index: 10;
}

/* Montior and Larger */
@media screen and (min-width: 1800px) {
  canvas {
    margin-top: 100px;
  }
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  canvas {
    width: 100%;
    height: 700px;
    margin-top: 50px;
  }
}

a {
  color: #00b7ff;
}

#canvas {
  margin-top: 25px;
  z-index: 10;
}

/* Montior and Larger */
@media screen and (min-width: 1800px) {
  canvas {
    margin-top: 100px;
  }
}

/* Header Responsive Styling */
@media screen and (max-width: 768px) {
  header {
    padding: 15px;
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  canvas {
    width: 100%;
    height: 700px;
    margin-top: 50px;
  }
}
