@{
    ViewData["Title"] = "Under Construction";
}
<main role="main" class="pb-3">
    <div>
        <h3>Page Not Found!</h3>

        <h6 class="fadeUnderConstruction"> This Page is Under Construction. Please Come Back Later.</h6>

        @Html.ActionLink("Return to Home Page", "Index", "HomePage", null, new { title = "Return to Home Page" })
    </div>
</main>