@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<main role="main" class="pb-3">
    <h3>Forgot Password</h3>

    <div>
        
        <form>
            <label for="Email">Email:</label>
            <input type="email" for="Email" />
            <input type="submit" value="Submit" class="btn-primary h-50 m-4" />
        </form>

        <a asp-action="Index" asp-controller="Login">Back</a>

    </div>
</main>