* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 0.3);
}

article img {
    width: 100%;
}

article div {
    padding: 0 20px 20px 20px;
}

article div>button {
    background-color: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

article:nth-child(4) {
    grid-row: span 2;
}

article:nth-child(5) {
    grid-column: 2;
}

article img:nth-child(5) {
    width: 50%;
}

article:nth-child(7) {
    grid-column: span 4;
}