@model HVK.Models.Pet

@{
    ViewData["Title"] = "Edit";
    Hvkuser user = (Hvkuser)ViewData["HVKUserObj"];
}

<h1>Edit a Pet's Information</h1>
<hr />
<div>
    @if (user.UserType == "Employee")
    {
        <a asp-controller="HomePage" asp-action="Staff">Back</a>
    }
    else
    {
        <a asp-controller="HomePage" asp-action="Index">Back</a>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PetId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breed" class="control-label"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthyear" class="control-label"></label>
                <input asp-for="Birthyear" class="form-control" />
                <span asp-validation-for="Birthyear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogSize" class="control-label"></label>
                <input asp-for="DogSize" class="form-control" />
                <span asp-validation-for="DogSize" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Climber" /> @Html.DisplayNameFor(model => model.Climber)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Barker" /> @Html.DisplayNameFor(model => model.Barker)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SpecialNotes" class="control-label"></label>
                <input asp-for="SpecialNotes" class="form-control" />
                <span asp-validation-for="SpecialNotes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sterilized" /> @Html.DisplayNameFor(model => model.Sterilized)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-primary" />
            </div>
        </form>
    </div>
</div>

