@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-2xl font-bold bg-clip-text text-transparent">
                        Create a new account
                    </h2>

                    <div asp-validation-summary="ModelOnly" class="text-error mb-4" role="alert"></div>

                    <div class="form-control mb-4">
                        <label asp-for="Input.FirstName" class="label">
                            <span class="label-text">First Name</span>
                        </label>
                        <input asp-for="Input.FirstName" class="input input-bordered" placeholder="First Name" aria-required="true" />
                        <span asp-validation-for="Input.FirstName" class="text-error"></span>
                    </div>

                    <div class="form-control mb-4">
                        <label asp-for="Input.LastName" class="label">
                            <span class="label-text">Last Name</span>
                        </label>
                        <input asp-for="Input.LastName" class="input input-bordered" placeholder="Last Name" aria-required="true" />
                        <span asp-validation-for="Input.LastName" class="text-error"></span>
                    </div>

                    <div class="form-control mb-4">
                        <label asp-for="Input.Email" class="label">
                            <span class="label-text">Email</span>
                        </label>
                        <input asp-for="Input.Email" class="input input-bordered" autocomplete="username" placeholder="name@example.com" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-error"></span>
                    </div>

                    <div class="form-control mb-4">
                        <label asp-for="Input.PhoneNumber" class="label">
                            <span class="label-text">Phone Number</span>
                        </label>
                        <input asp-for="Input.PhoneNumber" class="input input-bordered" placeholder="Phone Number" aria-required="true" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-error"></span>
                    </div>

                    <div class="form-control mb-4">
                        <label asp-for="Input.Province" class="label">
                            <span class="label-text">Province</span>
                        </label>
                        <input asp-for="Input.Province" class="input input-bordered" placeholder="Province (e.g., QC)" aria-required="true" />
                        <span asp-validation-for="Input.Province" class="text-error"></span>
                    </div>

                    <div class="form-control mb-4">
                        <label asp-for="Input.CreditCard" class="label">
                            <span class="label-text">Credit Card</span>
                        </label>
                        <input asp-for="Input.CreditCard" class="input input-bordered" placeholder="Credit Card Number" aria-required="true" />
                        <span asp-validation-for="Input.CreditCard" class="text-error"></span>
                    </div>

                    <div class="form-control mb-4">
                        <label asp-for="Input.Password" class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input asp-for="Input.Password" class="input input-bordered" autocomplete="new-password" type="password" placeholder="password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-error"></span>
                    </div>

                    <div class="form-control mb-6">
                        <label asp-for="Input.ConfirmPassword" class="label">
                            <span class="label-text">Confirm Password</span>
                        </label>
                        <input asp-for="Input.ConfirmPassword" class="input input-bordered" autocomplete="new-password" type="password" placeholder="password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-error"></span>
                    </div>
                    <br />
                    <button id="registerSubmit" type="submit" class="btn btn-primary w-1/2">Register</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have an account? <a asp-page="./Login">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
